01. Tasks
    Aplicatie web care gestioneaza task-urile unei persoane active. Informatiile sunt preluate dintr-un fisier
binar sau text, ambele variante fiind nevoie sa functioneze. Daca acestea nu contin informatii, se va afisa un
program "gol": nu se vor introduce task-uri. Functionalitatile aplicatiei sunt:
    F01. Adaugarea unui task nou cu detaliile: descrierea, data si ora de inceput, data si ora de sfarsit. Daca
task-ul este repetitiv, atunci se indica intervalul de timp la care se va repeta, dat ca numar de ore
si minute. Task-ul poate fi activ sau nu. Un task este activ atunci cand timpul local este cuprins intre timpul
de inceput si de sfarsit al task-ului.
    F02. Afisarea task-rilor planificate intr-o anumita perioada de timp, precizata ca data si ora de inceput
si data si ora de sfarsit. Se vor afisa toate task-urile a caror intersectie de timp cu intervalul selectat nu este
nula: toate task-urile care au inceput inainte de perioada selectata si s-au terminat in timpul acesteia/dupa
aceasta, toate task-urile care au inceput in timpul perioadei selectate si se termina in interiorul acesteia/
dupa aceasta.
    F03. Afisarea informatiilor referitoare la un anumit task sub forma tabelara, fiind inclusa posibilitatea de a
da click pe o celula pentru a vizualiza mai multe informatii.
    F04. Modificarea detaliilor unui task. Toate informatiile referitoare la un task pot fi modificate.
    F05. Stergerea unui task. Un task poate fi sters doar daca nu este in desfasurare perioada in care trebuie
efectuat sau aceasta deja a trecut.